@charset "utf-8";

*{
    background-color: rgb(223, 61, 136);
    color: brown;
}

table * {
    background-color: rgb(194, 106, 197);
    text-align: center;
    width: 400px;
}

p {
    background-color:#F4DECB;
    color: black;
}
